@model IEnumerable<Theater.Countries>

@{
    ViewData["Title"] = "Index";
}

<h1>Список країн</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Додати країну</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoId" class="btn btn-warning">Змінити</a> |
                <a asp-action="Delete" asp-route-id="@item.CoId" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
