@model Theater.Theaters

@{
    ViewData["Title"] = "Edit";
}

<h1>Змінити інформацію про театр</h1>

<h4>Театри</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThId" />
            <div class="form-group">
                <label asp-for="ThName" class="control-label"></label>
                <input asp-for="ThName" class="form-control" />
                <span asp-validation-for="ThName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThCt" class="control-label"></label>
                <select asp-for="ThCt" class="form-control" asp-items="ViewBag.ThCt"></select>
                <span asp-validation-for="ThCt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThWebsite" class="control-label"></label>
                <input asp-for="ThWebsite" class="form-control" />
                <span asp-validation-for="ThWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThInfo" class="control-label"></label>
                <input asp-for="ThInfo" class="form-control" />
                <span asp-validation-for="ThInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">Повернутись до списку</a>
            </div>
        </form>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
